In [1]:
from sqlalchemy import create_engine


engine = create_engine("sqlite:///example.db", echo=False)

In [2]:
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped, mapped_column


class Base(DeclarativeBase):
    pass


class ToDo(Base):
    __tablename__ = "todos"

    id: Mapped[int] = mapped_column(primary_key=True)
    title: Mapped[str] = mapped_column(nullable=True)
    description: Mapped[str] = mapped_column(nullable=True)

In [3]:
# Create the table in the database
Base.metadata.create_all(engine)

In [4]:
from sqlalchemy.orm import Session


with Session(engine) as session:
    todo = ToDo(title="Buy groceries", description="Buy groceries")
    session.add(todo)
    session.commit()

In [5]:
from sqlalchemy import select


with Session(engine) as session:
    statement = select(ToDo)
    result = session.execute(statement=statement)
    todos = result.scalars().all()

for todo in todos:
    for key, value in todo.__dict__.items():
        print(key, value)

_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3E9948A00>
title Buy groceries
description Buy groceries
id 1
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5454E0>
title Buy groceries
description Buy groceries
id 2
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545540>
title Get a haircut
description Get a haircut
id 3
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5455A0>
title Buy a new laptop
description Buy a new laptop
id 5
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545600>
title Buy a new car
description Buy a new car
id 6
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545660>
title Buy a new house
description Buy a new house
id 7
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5456C0>
title Buy a new boat
description Buy a new boat
id 8
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545720>
title Buy a new plane
description Buy a new plane
id 9
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545780>
title Buy a new island
description Buy a new island
id 10
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5457E0>
title Buy a new moon
description Buy a new moon
id 11
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545840>
title Buy a new sun
description Buy a new sun
id 12
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5458A0>
title Buy groceries
description Buy groceries
id 13
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545900>
title Buy groceries
description Buy groceries
id 14
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545960>
title Get a haircut
description Get a haircut
id 15
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5459C0>
title Buy a new laptop
description Buy a new laptop
id 17
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545A20>
title Buy a new car
description Buy a new car
id 18
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545A80>
title Buy a new house
description Buy a new house
id 19
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545AE0>
title Buy a new boat
description Buy a new boat
id 20
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545B40>
title Buy a new plane
description Buy a new plane
id 21
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545BA0>
title Buy a new island
description Buy a new island
id 22
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545C00>
title Buy a new moon
description Buy a new moon
id 23
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545C60>
title Buy a new sun
description Buy a new sun
id 24
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545CC0>
title Walk the dog
description Walk the dog in the park
id 25
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545D20>
title Buy groceries
description Buy groceries
id 26
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545D80>
title Buy groceries
description Buy groceries
id 27
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545DE0>
title Get a haircut
description Get a haircut
id 28
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545E40>
title Buy a new laptop
description Buy a new laptop
id 30
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545EA0>
title Buy a new car
description Buy a new car
id 31
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545F00>
title Buy a new house
description Buy a new house
id 32
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545F60>
title Buy a new boat
description Buy a new boat
id 33
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB545FC0>
title Buy a new plane
description Buy a new plane
id 34
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546020>
title Buy a new island
description Buy a new island
id 35
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546080>
title Buy a new moon
description Buy a new moon
id 36
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5460E0>
title Buy a new sun
description Buy a new sun
id 37
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546140>
title Walk the dog
description Walk the dog in the park
id 38
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5461A0>
title Buy groceries
description Buy groceries
id 39
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546200>
title Buy groceries
description Buy groceries
id 40
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546260>
title Get a haircut
description Get a haircut
id 41
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5462C0>
title Buy a new laptop
description Buy a new laptop
id 43
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546320>
title Buy a new car
description Buy a new car
id 44
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546380>
title Buy a new house
description Buy a new house
id 45
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5463E0>
title Buy a new boat
description Buy a new boat
id 46
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546440>
title Buy a new plane
description Buy a new plane
id 47
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5464A0>
title Buy a new island
description Buy a new island
id 48
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546500>
title Buy a new moon
description Buy a new moon
id 49
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546560>
title Buy a new sun
description Buy a new sun
id 50
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5465C0>
title Walk the dog
description Walk the dog in the park
id 51
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546620>
title Buy groceries
description Buy groceries
id 52
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546680>
title Buy groceries
description Buy groceries
id 53
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5466E0>
title Get a haircut
description Get a haircut
id 54
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546740>
title Buy a new laptop
description Buy a new laptop
id 56
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5467A0>
title Buy a new car
description Buy a new car
id 57
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546800>
title Buy a new house
description Buy a new house
id 58
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546860>
title Buy a new boat
description Buy a new boat
id 59
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5468C0>
title Buy a new plane
description Buy a new plane
id 60
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546920>
title Buy a new island
description Buy a new island
id 61
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546980>
title Buy a new moon
description Buy a new moon
id 62
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5469E0>
title Buy a new sun
description Buy a new sun
id 63
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546A40>
title Walk the dog
description Walk the dog in the park
id 64
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546AA0>
title Buy groceries
description Buy groceries
id 65
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546B00>
title Buy groceries
description Buy groceries
id 66
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546B60>
title Buy groceries
description Buy groceries
id 67
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546BC0>
title Get a haircut
description Get a haircut
id 68
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546C20>
title Buy a new laptop
description Buy a new laptop
id 70
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546C80>
title Buy a new car
description Buy a new car
id 71
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546CE0>
title Buy a new house
description Buy a new house
id 72
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546D40>
title Buy a new boat
description Buy a new boat
id 73
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546DA0>
title Buy a new plane
description Buy a new plane
id 74
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546E00>
title Buy a new island
description Buy a new island
id 75
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546E60>
title Buy a new moon
description Buy a new moon
id 76
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546EC0>
title Buy a new sun
description Buy a new sun
id 77
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546F20>
title Walk the dog
description Walk the dog in the park
id 78
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546F80>
title Buy groceries
description Buy groceries
id 79
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB546FE0>
title Buy groceries
description Buy groceries
id 80
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547040>
title Get a haircut
description Get a haircut
id 81
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5470A0>
title Buy a new laptop
description Buy a new laptop
id 83
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547100>
title Buy a new car
description Buy a new car
id 84
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547160>
title Buy a new house
description Buy a new house
id 85
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5471C0>
title Buy a new boat
description Buy a new boat
id 86
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547220>
title Buy a new plane
description Buy a new plane
id 87
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547280>
title Buy a new island
description Buy a new island
id 88
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5472E0>
title Buy a new moon
description Buy a new moon
id 89
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547340>
title Buy a new sun
description Buy a new sun
id 90
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5473A0>
title Walk the dog
description Walk the dog in the park
id 91
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547400>
title Buy groceries
description Buy groceries
id 92
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547460>
title Buy groceries
description Buy groceries
id 93
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5474C0>
title Get a haircut
description Get a haircut
id 94
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547520>
title Buy a new laptop
description Buy a new laptop
id 96
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547580>
title Buy a new car
description Buy a new car
id 97
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5475E0>
title Buy a new house
description Buy a new house
id 98
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547640>
title Buy a new boat
description Buy a new boat
id 99
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5476A0>
title Buy a new plane
description Buy a new plane
id 100
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547700>
title Buy a new island
description Buy a new island
id 101
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547760>
title Buy a new moon
description Buy a new moon
id 102
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5477C0>
title Buy a new sun
description Buy a new sun
id 103
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547820>
title Walk the dog
description Walk the dog in the park
id 104
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547880>
title Buy groceries
description Buy groceries
id 105
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5478E0>
title Buy groceries
description Buy groceries
id 106
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547940>
title Get a haircut
description Get a haircut
id 107
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5479A0>
title Buy a new laptop
description Buy a new laptop
id 109
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547A00>
title Buy a new car
description Buy a new car
id 110
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547A60>
title Buy a new house
description Buy a new house
id 111
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547AC0>
title Buy a new boat
description Buy a new boat
id 112
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547B20>
title Buy a new plane
description Buy a new plane
id 113
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547B80>
title Buy a new island
description Buy a new island
id 114
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547BE0>
title Buy a new moon
description Buy a new moon
id 115
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547C40>
title Buy a new sun
description Buy a new sun
id 116
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547CA0>
title Walk the dog
description Walk the dog in the park
id 117
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547D00>
title Buy groceries
description Buy groceries
id 118
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547D60>
title Buy groceries
description Buy groceries
id 119
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547DC0>
title Get a haircut
description Get a haircut
id 120
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547E20>
title Buy a new laptop
description Buy a new laptop
id 122
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547E80>
title Buy a new car
description Buy a new car
id 123
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547EE0>
title Buy a new house
description Buy a new house
id 124
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547F40>
title Buy a new boat
description Buy a new boat
id 125
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547FA0>
title Buy a new plane
description Buy a new plane
id 126
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5A8040>
title Buy a new island
description Buy a new island
id 127
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5A80A0>
title Buy a new moon
description Buy a new moon
id 128
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5A8100>
title Buy a new sun
description Buy a new sun
id 129
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5A8160>
title Walk the dog
description Walk the dog in the park
id 130
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5A81C0>
title Buy groceries
description Buy groceries
id 131

In [6]:
todos = [
    ToDo(title="Buy groceries", description="Buy groceries"),
    ToDo(title="Get a haircut", description="Get a haircut"),
    ToDo(title="Buy a new phone", description="Buy a new phone"),
    ToDo(title="Buy a new laptop", description="Buy a new laptop"),
    ToDo(title="Buy a new car", description="Buy a new car"),
    ToDo(title="Buy a new house", description="Buy a new house"),
    ToDo(title="Buy a new boat", description="Buy a new boat"),
    ToDo(title="Buy a new plane", description="Buy a new plane"),
    ToDo(title="Buy a new island", description="Buy a new island"),
    ToDo(title="Buy a new moon", description="Buy a new moon"),
    ToDo(title="Buy a new sun", description="Buy a new sun"),
]

with Session(engine) as session:
    session.add_all(todos)
    session.commit()

In [7]:
with Session(engine) as session:
    statement = select(ToDo).filter_by(title="Buy a new phone")
    todo = session.execute(statement=statement).scalar_one()
    todo.title = "Buy a new charger"
    todo.description = "Buy a new charger"
    session.commit()

In [8]:
with Session(engine) as session:
    statement = select(ToDo).filter_by(title="Buy a new charger")
    todo = session.execute(statement=statement).scalar_one()
    session.delete(todo)
    session.commit()

In [9]:
# Core foundations of SQLAlchemy ORM
from sqlalchemy import create_engine


engine = create_engine("sqlite:///example.db", echo=False)

from sqlalchemy import Table, Column, Integer, String, MetaData

metadata = MetaData()

todos_table = Table(
    "todos", 
    metadata, 
    Column("id", Integer, primary_key=True),
    Column("title", String, nullable=True),
    Column("description", String, nullable=True)
)

metadata.create_all(engine)

In [10]:
# Inserting Data
from sqlalchemy import insert

statement = insert(todos_table).values(title="Walk the dog", description="Walk the dog in the park")

with engine.connect() as connection:
    connection.execute(statement)
    connection.commit()


# Selecting Data
from sqlalchemy import select


statement = select(todos_table)

with engine.connect() as connection:
    result = connection.execute(statement)
    todos = result.fetchall()
    for todo in todos:
        print(todo)

(1, 'Buy groceries', 'Buy groceries')
(2, 'Buy groceries', 'Buy groceries')
(3, 'Get a haircut', 'Get a haircut')
(5, 'Buy a new laptop', 'Buy a new laptop')
(6, 'Buy a new car', 'Buy a new car')
(7, 'Buy a new house', 'Buy a new house')
(8, 'Buy a new boat', 'Buy a new boat')
(9, 'Buy a new plane', 'Buy a new plane')
(10, 'Buy a new island', 'Buy a new island')
(11, 'Buy a new moon', 'Buy a new moon')
(12, 'Buy a new sun', 'Buy a new sun')
(13, 'Buy groceries', 'Buy groceries')
(14, 'Buy groceries', 'Buy groceries')
(15, 'Get a haircut', 'Get a haircut')
(17, 'Buy a new laptop', 'Buy a new laptop')
(18, 'Buy a new car', 'Buy a new car')
(19, 'Buy a new house', 'Buy a new house')
(20, 'Buy a new boat', 'Buy a new boat')
(21, 'Buy a new plane', 'Buy a new plane')
(22, 'Buy a new island', 'Buy a new island')
(23, 'Buy a new moon', 'Buy a new moon')
(24, 'Buy a new sun', 'Buy a new sun')
(25, 'Walk the dog', 'Walk the dog in the park')
(26, 'Buy groceries', 'Buy groceries')
(27, 'Buy groceries', 'Buy groceries')
(28, 'Get a haircut', 'Get a haircut')
(30, 'Buy a new laptop', 'Buy a new laptop')
(31, 'Buy a new car', 'Buy a new car')
(32, 'Buy a new house', 'Buy a new house')
(33, 'Buy a new boat', 'Buy a new boat')
(34, 'Buy a new plane', 'Buy a new plane')
(35, 'Buy a new island', 'Buy a new island')
(36, 'Buy a new moon', 'Buy a new moon')
(37, 'Buy a new sun', 'Buy a new sun')
(38, 'Walk the dog', 'Walk the dog in the park')
(39, 'Buy groceries', 'Buy groceries')
(40, 'Buy groceries', 'Buy groceries')
(41, 'Get a haircut', 'Get a haircut')
(43, 'Buy a new laptop', 'Buy a new laptop')
(44, 'Buy a new car', 'Buy a new car')
(45, 'Buy a new house', 'Buy a new house')
(46, 'Buy a new boat', 'Buy a new boat')
(47, 'Buy a new plane', 'Buy a new plane')
(48, 'Buy a new island', 'Buy a new island')
(49, 'Buy a new moon', 'Buy a new moon')
(50, 'Buy a new sun', 'Buy a new sun')
(51, 'Walk the dog', 'Walk the dog in the park')
(52, 'Buy groceries', 'Buy groceries')
(53, 'Buy groceries', 'Buy groceries')
(54, 'Get a haircut', 'Get a haircut')
(56, 'Buy a new laptop', 'Buy a new laptop')
(57, 'Buy a new car', 'Buy a new car')
(58, 'Buy a new house', 'Buy a new house')
(59, 'Buy a new boat', 'Buy a new boat')
(60, 'Buy a new plane', 'Buy a new plane')
(61, 'Buy a new island', 'Buy a new island')
(62, 'Buy a new moon', 'Buy a new moon')
(63, 'Buy a new sun', 'Buy a new sun')
(64, 'Walk the dog', 'Walk the dog in the park')
(65, 'Buy groceries', 'Buy groceries')
(66, 'Buy groceries', 'Buy groceries')
(67, 'Buy groceries', 'Buy groceries')
(68, 'Get a haircut', 'Get a haircut')
(70, 'Buy a new laptop', 'Buy a new laptop')
(71, 'Buy a new car', 'Buy a new car')
(72, 'Buy a new house', 'Buy a new house')
(73, 'Buy a new boat', 'Buy a new boat')
(74, 'Buy a new plane', 'Buy a new plane')
(75, 'Buy a new island', 'Buy a new island')
(76, 'Buy a new moon', 'Buy a new moon')
(77, 'Buy a new sun', 'Buy a new sun')
(78, 'Walk the dog', 'Walk the dog in the park')
(79, 'Buy groceries', 'Buy groceries')
(80, 'Buy groceries', 'Buy groceries')
(81, 'Get a haircut', 'Get a haircut')
(83, 'Buy a new laptop', 'Buy a new laptop')
(84, 'Buy a new car', 'Buy a new car')
(85, 'Buy a new house', 'Buy a new house')
(86, 'Buy a new boat', 'Buy a new boat')
(87, 'Buy a new plane', 'Buy a new plane')
(88, 'Buy a new island', 'Buy a new island')
(89, 'Buy a new moon', 'Buy a new moon')
(90, 'Buy a new sun', 'Buy a new sun')
(91, 'Walk the dog', 'Walk the dog in the park')
(92, 'Buy groceries', 'Buy groceries')
(93, 'Buy groceries', 'Buy groceries')
(94, 'Get a haircut', 'Get a haircut')
(96, 'Buy a new laptop', 'Buy a new laptop')
(97, 'Buy a new car', 'Buy a new car')
(98, 'Buy a new house', 'Buy a new house')
(99, 'Buy a new boat', 'Buy a new boat')
(100, 'Buy a new plane', 'Buy a new plane')
(101, 'Buy a new island', 'Buy a new island')
(102, 'Buy a new moon', 'Buy a new moon')
(103, 'Buy a new sun', 'Buy a new sun')
(104, 'Walk the dog', 'Walk the dog in the park')
(105, 'Buy groceries', 'Buy groceries')
(106, 'Buy groceries', 'Buy groceries')
(107, 'Get a haircut', 'Get a haircut')
(109, 'Buy a new laptop', 'Buy a new laptop')
(110, 'Buy a new car', 'Buy a new car')
(111, 'Buy a new house', 'Buy a new house')
(112, 'Buy a new boat', 'Buy a new boat')
(113, 'Buy a new plane', 'Buy a new plane')
(114, 'Buy a new island', 'Buy a new island')
(115, 'Buy a new moon', 'Buy a new moon')
(116, 'Buy a new sun', 'Buy a new sun')
(117, 'Walk the dog', 'Walk the dog in the park')
(118, 'Buy groceries', 'Buy groceries')
(119, 'Buy groceries', 'Buy groceries')
(120, 'Get a haircut', 'Get a haircut')
(122, 'Buy a new laptop', 'Buy a new laptop')
(123, 'Buy a new car', 'Buy a new car')
(124, 'Buy a new house', 'Buy a new house')
(125, 'Buy a new boat', 'Buy a new boat')
(126, 'Buy a new plane', 'Buy a new plane')
(127, 'Buy a new island', 'Buy a new island')
(128, 'Buy a new moon', 'Buy a new moon')
(129, 'Buy a new sun', 'Buy a new sun')
(130, 'Walk the dog', 'Walk the dog in the park')
(131, 'Buy groceries', 'Buy groceries')
(132, 'Buy groceries', 'Buy groceries')
(133, 'Get a haircut', 'Get a haircut')
(135, 'Buy a new laptop', 'Buy a new laptop')
(136, 'Buy a new car', 'Buy a new car')
(137, 'Buy a new house', 'Buy a new house')
(138, 'Buy a new boat', 'Buy a new boat')
(139, 'Buy a new plane', 'Buy a new plane')
(140, 'Buy a new island', 'Buy a new island')
(141, 'Buy a new moon', 'Buy a new moon')
(142, 'Buy a new sun', 'Buy a new sun')
(143, 'Walk the dog', 'Walk the dog in the park')

ORM Basics

In [11]:
import datetime
from sqlalchemy.orm import declarative_base

Base = declarative_base()


from sqlalchemy import Column, Integer, String, DateTime, Boolean

class User(Base):
    __tablename__ = "users"

    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=True)
    is_active = Column(Boolean, default=True)
    created_at = Column(DateTime, default=datetime.datetime.now)


Base.metadata.create_all(engine)

In [12]:
# Sessions (VERY IMPORTANT)
from sqlalchemy.orm import sessionmaker

SessionLocal = sessionmaker(bind=engine)
session = SessionLocal()

In [13]:
users = [
    User(name="Alice"),
    User(name="Bob"),
    User(name="Charlie"),
    User(name="Dave"),
    User(name="Eve"),
]

for user in users:
    session.add(user)
    session.commit()

session.add_all(users)
session.commit()

users = session.query(User).all()

for user in users:
    print(user.id, user.name, user.is_active, user.created_at)

1 Alice True 2026-01-14 22:19:29.236599
2 Bob True 2026-01-14 22:19:29.236599
3 Charlie True 2026-01-14 22:19:29.236599
4 Dave True 2026-01-14 22:19:29.236599
5 Eve True 2026-01-14 22:19:29.236599
6 Alice True 2026-01-15 16:27:08.117127
7 Bob True 2026-01-15 16:27:08.294889
8 Charlie True 2026-01-15 16:27:08.408266
9 Dave True 2026-01-15 16:27:08.538241
10 Eve True 2026-01-15 16:27:08.657943
11 Alice True 2026-01-16 20:44:47.109342
12 Bob True 2026-01-16 20:44:47.251003
13 Charlie True 2026-01-16 20:44:47.428983
14 Dave True 2026-01-16 20:44:47.551127
15 Eve True 2026-01-16 20:44:47.725328
16 Alice True 2026-01-17 23:07:04.702524
17 Bob True 2026-01-17 23:07:04.820589
18 Charlie True 2026-01-17 23:07:04.988969
19 Dave True 2026-01-17 23:07:05.112080
20 Eve True 2026-01-17 23:07:05.251115
21 Alice True 2026-01-19 16:39:33.754077
22 Bob True 2026-01-19 16:39:34.029185
23 Charlie True 2026-01-19 16:39:34.147111
24 Dave True 2026-01-19 16:39:34.255373
25 Eve True 2026-01-19 16:39:34.355807
26 Alice True 2026-01-25 22:13:31.654680
27 Bob True 2026-01-25 22:13:31.731660
28 Charlie True 2026-01-25 22:13:31.848114
29 Dave True 2026-01-25 22:13:31.969400
30 Eve True 2026-01-25 22:13:32.047914
31 Alice True 2026-01-25 22:14:03.272966
32 Bob True 2026-01-25 22:14:03.390487
33 Charlie True 2026-01-25 22:14:03.500198
34 Dave True 2026-01-25 22:14:03.616941
35 Eve True 2026-01-25 22:14:03.696129
36 Alice True 2026-01-25 22:14:47.012095
37 Bob True 2026-01-25 22:14:47.092315
38 Charlie True 2026-01-25 22:14:47.463439
39 Dave True 2026-01-25 22:14:47.705529
40 Eve True 2026-01-25 22:14:47.881804
41 Alice True 2026-01-25 22:15:49.635300
42 Bob True 2026-01-25 22:15:49.728272
43 Charlie True 2026-01-25 22:15:49.848090
44 Dave True 2026-01-25 22:15:49.930912
45 Eve True 2026-01-25 22:15:50.007081
46 Alice True 2026-01-26 16:33:20.852105
47 Bob True 2026-01-26 16:33:21.179560
48 Charlie True 2026-01-26 16:33:21.271626
49 Dave True 2026-01-26 16:33:21.773487
50 Eve True 2026-01-26 16:33:22.011442

In [14]:
users = session.query(User).filter(User.name == "Alice").all()
for user in users:
    print(user.id, user.name, user.is_active, user.created_at)

1 Alice True 2026-01-14 22:19:29.236599
6 Alice True 2026-01-15 16:27:08.117127
11 Alice True 2026-01-16 20:44:47.109342
16 Alice True 2026-01-17 23:07:04.702524
21 Alice True 2026-01-19 16:39:33.754077
26 Alice True 2026-01-25 22:13:31.654680
31 Alice True 2026-01-25 22:14:03.272966
36 Alice True 2026-01-25 22:14:47.012095
41 Alice True 2026-01-25 22:15:49.635300
46 Alice True 2026-01-26 16:33:20.852105

In [ ]:
from typing import List, Optional
from sqlalchemy.orm import Mapped, mapped_column, relationship
from sqlalchemy import ForeignKey


class Category(Base):
    __tablename__ = "categories"

    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(nullable=True)
    description: Mapped[Optional[str]] = mapped_column(nullable=True)
    products: Mapped[List["Product"]] = relationship(back_populates="category")

    def __repr__(self) -> str:
        return f"Category(id={self.id!r}, name={self.name!r}, description={self.description!r})"


class Product(Base):
    __tablename__ = "products"

    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(nullable=True)
    description: Mapped[str] = mapped_column(nullable=True)
    category_id: Mapped[int] = mapped_column(ForeignKey("categories.id"))

    category: Mapped[Category] = relationship(back_populates="products")

    def _repr__(self) -> str:
        return f"Product(id={self.id!r}, name={self.name!r}, description={self.description!r}, category_id={self.category_id!r})"

In [16]:
Base.metadata.create_all(engine)

In [17]:
categories = [
    Category(name="Electronics", description="Electronic items"),
    Category(name="Clothing", description="Clothing items"),
    Category(name="Books", description="Books and literature"),
]

for category in categories:
    session.add(category)
    session.commit()

products = [
    Product(name="Laptop", description="A personal computer", category_id=1),
    Product(name="Smartphone", description="A mobile phone", category_id=1),
    Product(name="T-Shirt", description="A cotton t-shirt", category_id=2),
    Product(name="Jeans", description="Denim jeans", category_id=2),
    Product(name="Novel", description="A fiction book", category_id=3),
    Product(name="Biography", description="A non-fiction book", category_id=3),
]

session.add_all(products)
session.commit()

In [18]:
categories = session.query(Category).all()
for category in categories:
    print(category)

products = session.query(Product).all()
for product in products:
    for key, value in product.__dict__.items():
        print(key, value)

Category(id=1, name='Electronics', description='Electronic items')
Category(id=2, name='Clothing', description='Clothing items')
Category(id=3, name='Books', description='Books and literature')
Category(id=4, name='Electronics', description='Electronic items')
Category(id=5, name='Clothing', description='Clothing items')
Category(id=6, name='Books', description='Books and literature')
Category(id=7, name='Electronics', description='Electronic items')
Category(id=8, name='Clothing', description='Clothing items')
Category(id=9, name='Books', description='Books and literature')
Category(id=10, name='Electronics', description='Electronic items')
Category(id=11, name='Clothing', description='Clothing items')
Category(id=12, name='Books', description='Books and literature')
Category(id=13, name='Electronics', description='Electronic items')
Category(id=14, name='Clothing', description='Clothing items')
Category(id=15, name='Books', description='Books and literature')
Category(id=16, name='Electronics', description='Electronic items')
Category(id=17, name='Clothing', description='Clothing items')
Category(id=18, name='Books', description='Books and literature')
Category(id=19, name='Electronics', description='Electronic items')
Category(id=20, name='Clothing', description='Clothing items')
Category(id=21, name='Books', description='Books and literature')
Category(id=22, name='Electronics', description='Electronic items')
Category(id=23, name='Clothing', description='Clothing items')
Category(id=24, name='Books', description='Books and literature')
Category(id=25, name='Electronics', description='Electronic items')
Category(id=26, name='Clothing', description='Clothing items')
Category(id=27, name='Books', description='Books and literature')
Category(id=28, name='Electronics', description='Electronic items')
Category(id=29, name='Clothing', description='Clothing items')
Category(id=30, name='Books', description='Books and literature')
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644BE0>
id 3
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644C40>
id 4
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644CA0>
id 5
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644D00>
id 6
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644D60>
id 7
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644DC0>
id 8
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644E20>
id 9
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644E80>
id 10
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644EE0>
id 11
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644F40>
id 13
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644FA0>
id 14
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645000>
id 15
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645060>
id 16
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6450C0>
id 17
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645120>
id 18
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645180>
id 19
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6451E0>
id 20
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645240>
id 21
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6452A0>
id 22
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645300>
id 23
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645360>
id 24
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6453C0>
id 25
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645420>
id 26
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645480>
id 27
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6454E0>
id 28
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645540>
id 29
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6455A0>
id 30
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645600>
id 31
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645660>
id 32
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6456C0>
id 33
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645720>
id 34
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645780>
id 35
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6457E0>
id 36
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645840>
id 37
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6458A0>
id 38
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645900>
id 39
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645960>
id 40
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6459C0>
id 41
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645A20>
id 42
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645A80>
id 43
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645AE0>
id 44
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645B40>
id 45
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645BA0>
id 46
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645C00>
id 47
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645C60>
id 48
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645CC0>
id 49
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645D20>
id 50
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645D80>
id 51
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645DE0>
id 52
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645E40>
id 53
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547D00>
id 54
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB4FBD60>
id 55
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5D3700>
id 56
category_id 2
description A cotton t-shirt
name T-Shirt
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5D3040>
id 57
category_id 2
description Denim jeans
name Jeans
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5D1960>
id 58
category_id 3
description A fiction book
name Novel
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5D1BA0>
id 59
category_id 3
description A non-fiction book
name Biography

In [19]:
from os import name


def print_products_details(products):
    for product in products:
        for key, value in product.__dict__.items():
            print(key, value)

def print_product_details(product):
    if product:
        for key, value in product.__dict__.items():
            print(key, value)

products = session.query(Product).filter(Product.name == "Laptop").all()
print_products_details(products)

products = session.query(Product).filter(Product.name.icontains("Laptop")).all()
print_products_details(products)

products = session.query(Product).filter(Product.category.has(name="Electronics")).all()
print_products_details(products)

products = session.query(Product).filter(Product.name.ilike("%phone%"), Product.category.has(name="Electronics")).all()
print_products_details(products)

product = session.query(Product).filter(Product.name.ilike("%top%"), Product.category.has(name="Electronics")).first()
print_product_details(product)

product = session.query(Product).filter_by(id=1, name="Laptop").first()
print_product_details(product)

_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644D60>
id 7
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645120>
id 18
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645360>
id 24
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6455A0>
id 30
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6457E0>
id 36
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645A20>
id 42
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645C60>
id 48
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547D00>
id 54
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644D60>
id 7
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645120>
id 18
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645360>
id 24
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6455A0>
id 30
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6457E0>
id 36
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645A20>
id 42
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645C60>
id 48
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547D00>
id 54
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB644D60>
id 7
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6453C0>
id 8
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645420>
id 13
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645120>
id 18
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645480>
id 19
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645360>
id 24
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6454E0>
id 25
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6455A0>
id 30
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645540>
id 31
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6457E0>
id 36
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645600>
id 37
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645A20>
id 42
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645660>
id 43
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645C60>
id 48
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6456C0>
id 49
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB547D00>
id 54
category_id 1
description A personal computer
name Laptop
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645720>
id 55
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6453C0>
id 8
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645420>
id 13
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645480>
id 19
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6454E0>
id 25
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645540>
id 31
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645600>
id 37
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645660>
id 43
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB6456C0>
id 49
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645720>
id 55
category_id 1
description A mobile phone
name Smartphone
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB645E40>
id 7
category_id 1
description A personal computer
name Laptop

In [20]:
product = session.query(Product).filter(Product.id == 7).first()
product.name = "Laptop"
print(product)
session.commit()
product = session.query(Product).filter(Product.id == 7).first()
print_product_details(product)

<__main__.Product object at 0x000001C3EB66BD60>
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB646B60>
id 7
category_id 1
description A personal computer
name Laptop

In [24]:
product = session.query(Product).filter(Product.id == 4).first()
session.delete(product)
session.commit()

products = session.query(Product).all()
for product in products:
    for key, value in product.__dict__.items():
        if key == "name":
            print(value)

Novel
Biography
Laptop
Smartphone
T-Shirt
Jeans
Novel
Smartphone
T-Shirt
Jeans
Novel
Biography
Laptop
Smartphone
T-Shirt
Jeans
Novel
Biography
Laptop
Smartphone
T-Shirt
Jeans
Novel
Biography
Laptop
Smartphone
T-Shirt
Jeans
Novel
Biography
Laptop
Smartphone
T-Shirt
Jeans
Novel
Biography
Laptop
Smartphone
T-Shirt
Jeans
Novel
Biography
Laptop
Smartphone
T-Shirt
Jeans
Novel
Biography
Laptop
Smartphone
T-Shirt
Jeans
Novel
Biography

Ordering & Pagination

In [25]:
products = session.query(Product).order_by(Product.name.asc()).limit(2).offset(2)
print_products_details(products)

_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC008340>
id 23
category_id 3
description A non-fiction book
name Biography
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC0083A0>
id 29
category_id 3
description A non-fiction book
name Biography

Aggregations

In [26]:
count = session.query(Product.category_id).distinct().count()
print("Distinct category count:", count)

Distinct category count: 3

In [27]:
from sqlalchemy import func



count = session.query(func.count(Product.category_id).distinct()).scalar()
print("Distinct category count:", count)

_sum = session.query(func.sum(Product.category_id)).scalar()
print("Sum of category IDs:", _sum)

avg = session.query(func.avg(Product.category_id)).scalar()
print("Average of category IDs:", avg)

_max = session.query(func.max(Product.category_id)).scalar()
print("Maximum of category IDs:", _max)

_min = session.query(func.min(Product.category_id)).scalar()
print("Minimum of category IDs:", _min)

count, avg, _sum, _max, _min = session.query(
    func.count(Product.category_id), 
    func.avg(Product.category_id),
    func.sum(Product.category_id),
    func.max(Product.category_id),
    func.min(Product.category_id),
).one()

print("Distinct category count:", count)
print("Average of category IDs:", avg)
print("Sum of category IDs:", _sum)
print("Maximum of category IDs:", _max)
print("Minimum of category IDs:", _min)

Distinct category count: 54
Sum of category IDs: 110
Average of category IDs: 2.037037037037037
Maximum of category IDs: 3
Minimum of category IDs: 1
Distinct category count: 54
Average of category IDs: 2.037037037037037
Sum of category IDs: 110
Maximum of category IDs: 3
Minimum of category IDs: 1

In [28]:
products = session.query(Product).all()
for product in products:
    print(product.category.name)

Books
Books
Electronics
Electronics
Clothing
Clothing
Books
Electronics
Clothing
Clothing
Books
Books
Electronics
Electronics
Clothing
Clothing
Books
Books
Electronics
Electronics
Clothing
Clothing
Books
Books
Electronics
Electronics
Clothing
Clothing
Books
Books
Electronics
Electronics
Clothing
Clothing
Books
Books
Electronics
Electronics
Clothing
Clothing
Books
Books
Electronics
Electronics
Clothing
Clothing
Books
Books
Electronics
Electronics
Clothing
Clothing
Books
Books

In [29]:
categories = session.query(Category).join(Category.products).distinct().all()

for category in categories:
    print(category.name, ": ", ", ".join([str(product.name) for product in category.products]))

Books :  Novel, Biography, Novel, Novel, Biography, Novel, Biography, Novel, Biography, Novel, Biography, Novel, Biography, Novel, Biography, Novel, Biography, Novel, Biography
Electronics :  Laptop, Smartphone, Smartphone, Laptop, Smartphone, Laptop, Smartphone, Laptop, Smartphone, Laptop, Smartphone, Laptop, Smartphone, Laptop, Smartphone, Laptop, Smartphone
Clothing :  T-Shirt, Jeans, T-Shirt, Jeans, T-Shirt, Jeans, T-Shirt, Jeans, T-Shirt, Jeans, T-Shirt, Jeans, T-Shirt, Jeans, T-Shirt, Jeans, T-Shirt, Jeans

In [40]:
categories = session.query(Category).join(Product)
for category in categories:
    print([product.__dict__ for product in category.products])
    for key, value in category.__dict__.items():
        print(key, value)

[{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EBFEBEE0>, 'id': 5, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EBFEBF40>, 'id': 6, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B280>, 'id': 11, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06AF80>, 'id': 16, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B1C0>, 'id': 17, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B460>, 'id': 22, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B4C0>, 'id': 23, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B6A0>, 'id': 28, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B700>, 'id': 29, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B8E0>, 'id': 34, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B940>, 'id': 35, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BB20>, 'id': 40, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BB80>, 'id': 41, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BD60>, 'id': 46, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BDC0>, 'id': 47, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BFA0>, 'id': 52, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC09C040>, 'id': 53, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC09C220>, 'id': 58, 'category_id': 3, 'description': 'A fiction book', 'name': 'Novel', 'category': Category(id=3, name='Books', description='Books and literature')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC0087C0>, 'id': 59, 'category_id': 3, 'description': 'A non-fiction book', 'name': 'Biography', 'category': Category(id=3, name='Books', description='Books and literature')}]
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5D2020>
name Books
description Books and literature
id 3
products [<__main__.Product object at 0x000001C3EC042E90>, <__main__.Product object at 0x000001C3EC042E00>, <__main__.Product object at 0x000001C3EC042CE0>, <__main__.Product object at 0x000001C3EC042B90>, <__main__.Product object at 0x000001C3EC042B00>, <__main__.Product object at 0x000001C3EC042B60>, <__main__.Product object at 0x000001C3EC042B30>, <__main__.Product object at 0x000001C3EC042950>, <__main__.Product object at 0x000001C3EC0429B0>, <__main__.Product object at 0x000001C3EC0421A0>, <__main__.Product object at 0x000001C3EC0420B0>, <__main__.Product object at 0x000001C3EC042110>, <__main__.Product object at 0x000001C3EC042050>, <__main__.Product object at 0x000001C3EC0410F0>, <__main__.Product object at 0x000001C3EC0414E0>, <__main__.Product object at 0x000001C3EC040B80>, <__main__.Product object at 0x000001C3EC041CC0>, <__main__.Product object at 0x000001C3EC041750>, <__main__.Product object at 0x000001C3EBCA2320>]
[{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EBFEB4C0>, 'id': 7, 'category_id': 1, 'description': 'A personal computer', 'name': 'Laptop', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EBFEB340>, 'id': 8, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC069C60>, 'id': 13, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B2E0>, 'id': 18, 'category_id': 1, 'description': 'A personal computer', 'name': 'Laptop', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B340>, 'id': 19, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B520>, 'id': 24, 'category_id': 1, 'description': 'A personal computer', 'name': 'Laptop', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B580>, 'id': 25, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B760>, 'id': 30, 'category_id': 1, 'description': 'A personal computer', 'name': 'Laptop', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B7C0>, 'id': 31, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B9A0>, 'id': 36, 'category_id': 1, 'description': 'A personal computer', 'name': 'Laptop', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BA00>, 'id': 37, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BBE0>, 'id': 42, 'category_id': 1, 'description': 'A personal computer', 'name': 'Laptop', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BC40>, 'id': 43, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BE20>, 'id': 48, 'category_id': 1, 'description': 'A personal computer', 'name': 'Laptop', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BE80>, 'id': 49, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC09C0A0>, 'id': 54, 'category_id': 1, 'description': 'A personal computer', 'name': 'Laptop', 'category': Category(id=1, name='Electronics', description='Electronic items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC09C100>, 'id': 55, 'category_id': 1, 'description': 'A mobile phone', 'name': 'Smartphone', 'category': Category(id=1, name='Electronics', description='Electronic items')}]
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5D2D40>
name Electronics
description Electronic items
id 1
products [<__main__.Product object at 0x000001C3EC042D40>, <__main__.Product object at 0x000001C3EC042D10>, <__main__.Product object at 0x000001C3EC042C50>, <__main__.Product object at 0x000001C3EC042A70>, <__main__.Product object at 0x000001C3EC042A40>, <__main__.Product object at 0x000001C3EC042C20>, <__main__.Product object at 0x000001C3EC042A10>, <__main__.Product object at 0x000001C3EC042470>, <__main__.Product object at 0x000001C3EC0422F0>, <__main__.Product object at 0x000001C3EC042200>, <__main__.Product object at 0x000001C3EC041F60>, <__main__.Product object at 0x000001C3EC040CD0>, <__main__.Product object at 0x000001C3EC041DE0>, <__main__.Product object at 0x000001C3EC040FA0>, <__main__.Product object at 0x000001C3EC041090>, <__main__.Product object at 0x000001C3EC041B40>, <__main__.Product object at 0x000001C3EC0418D0>]
[{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B0A0>, 'id': 9, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B160>, 'id': 10, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B220>, 'id': 14, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B040>, 'id': 15, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B3A0>, 'id': 20, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B400>, 'id': 21, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B5E0>, 'id': 26, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B640>, 'id': 27, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B820>, 'id': 32, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06B880>, 'id': 33, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BA60>, 'id': 38, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BAC0>, 'id': 39, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BCA0>, 'id': 44, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BD00>, 'id': 45, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BEE0>, 'id': 50, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC06BF40>, 'id': 51, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC09C160>, 'id': 56, 'category_id': 2, 'description': 'A cotton t-shirt', 'name': 'T-Shirt', 'category': Category(id=2, name='Clothing', description='Clothing items')}, {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001C3EC09C1C0>, 'id': 57, 'category_id': 2, 'description': 'Denim jeans', 'name': 'Jeans', 'category': Category(id=2, name='Clothing', description='Clothing items')}]
_sa_instance_state <sqlalchemy.orm.state.InstanceState object at 0x000001C3EB5D3460>
name Clothing
description Clothing items
id 2
products [<__main__.Product object at 0x000001C3EC042CB0>, <__main__.Product object at 0x000001C3EC042C80>, <__main__.Product object at 0x000001C3EC042BF0>, <__main__.Product object at 0x000001C3EC042BC0>, <__main__.Product object at 0x000001C3EC042AD0>, <__main__.Product object at 0x000001C3EC042AA0>, <__main__.Product object at 0x000001C3EC0429E0>, <__main__.Product object at 0x000001C3EC042980>, <__main__.Product object at 0x000001C3EC0422C0>, <__main__.Product object at 0x000001C3EC042260>, <__main__.Product object at 0x000001C3EC0420E0>, <__main__.Product object at 0x000001C3EC042230>, <__main__.Product object at 0x000001C3EC0421D0>, <__main__.Product object at 0x000001C3EC040760>, <__main__.Product object at 0x000001C3EC040880>, <__main__.Product object at 0x000001C3EC041FF0>, <__main__.Product object at 0x000001C3EC0408E0>, <__main__.Product object at 0x000001C3EC041B10>]